@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
* {
	margin: 0;
	padding: 0;
}
body,
button {
	font-family: "Inter", sans-serif;
	font-weight: 700;
	color: #ffffff;
}
div {
	outline: 0px solid black;
}
.container {
	width: 1600px;
	height: 1200px;
	margin: auto;
	background: url(img/background.svg);
	border-radius: 20px;
	position: relative;
	overflow: hidden;
}
.rectangle3 {
	position: absolute;
	left: 80px;
	top: 186px;
	width: 873px;
	height: 917px;
	background: #00a3ff;
	border-radius: 55px;
}
/* 5-Reebok group */
.group1-reebok {
	position: absolute;
	top: 199px;
	left: 143px;
	font-weight: 700;
	font-size: 144px;
	line-height: 150px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}
.group1-reebok p:first-child {
	opacity: 0.2;
	margin-top: 12px;
	margin-bottom: 45px;
}
.group1-reebok p:nth-child(2) {
	opacity: 0.4;
	margin-bottom: 44px;
}
.group1-reebok p:nth-child(3) {
	opacity: 0.6;
	margin-bottom: 36px;
}
.group1-reebok p:nth-child(4) {
	opacity: 0.7;
	margin-bottom: 5px;
}
.group1-reebok p:nth-child(5) {
	opacity: 0.7;
}
/* Right card */
.right-card {
	width: 853px;
	height: 770px;
	padding-left: 181px;
	padding-top: 55px;
	position: absolute;
	top: 257px;
	left: 663px;
	border-radius: 55px;
	background: rgba(30, 30, 53, 0.15);
	backdrop-filter: blur(251px);
	box-sizing: border-box;
}

.right-card-content-text p:first-child {
	font-size: 128px;
	text-transform: uppercase;
	line-height: 124px;
	letter-spacing: 0.05em;
}
.right-card-content-text p:nth-child(2) {
	font-size: 64px;
	line-height: 83px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin-left: 4px;
	color: #b5e4ff;
}
.right-card-content-text p:nth-child(3) {
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.05em;
	margin-bottom: 32px;
}
.right-card-content-text p:nth-child(4) {
	font-size: 64px;
	line-height: 77px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #daf2ff;
	margin-left: 4px;
	margin-bottom: 27px;
}
.right-card-content-text p:nth-child(5) {
	font-size: 14px;
	width: 510px;
	letter-spacing: 0.05em;
	text-transform: capitalize;
	line-height: 17px;
	font-weight: 400;
	margin-bottom: 41px;
}
/* Circles line */
.right-card-content-circles-line {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.05em;
	display: flex;
	align-items: center;
	margin-bottom: 65px;
}
.circle {
	width: 27px;
	height: 27px;
	border-radius: 50%;
	margin-left: 29px;
	margin-top: 5px;
	box-sizing: border-box;
}
.blue {
	width: 38px;
	height: 38px;
	background: #00a3ff;
	border: 2px solid #ffffff;
	box-shadow: 0px 2px 4px rgba(0, 163, 255, 0.5);
}
.red {
	background: #ff5368;
	border: 2px solid #ffffff;
	box-shadow: 0px 2px 4px rgba(0, 163, 255, 0.5);
}
.yellow {
	background: #fcff53;
	border: 2px solid #ffffff;
	box-shadow: 0px 2px 4px rgba(0, 163, 255, 0.5);
}
.green {
	background: #80ff53;
	border: 2px solid #ffffff;
	box-shadow: 0px 2px 4px rgba(0, 163, 255, 0.5);
}
/* Button line */
.button {
	width: 193.43px;
	height: 49.45px;
	border-radius: 30px;
	box-sizing: content-box;
}
.blue-b {
	background: #00a3ff;
	border: 4px solid #73cdff;
	box-shadow: 0px 5px 8px rgba(0, 163, 255, 0.4);
	margin-left: -4px;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.red-b {
	margin-left: 40px;
	background: #ff5368;
	border: 4px solid #ff9fab;
	box-shadow: 0px 5px 8px rgba(255, 83, 104, 0.4);
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.05em;
	text-transform: capitalize;
}
/* Sneaker */
.sneaker {
	position: absolute;
	filter: drop-shadow(-32px 35px 41px rgba(0, 0, 0, 0.25));
	top: 276px;
	left: 70px;
	z-index: 1;
	width: 736.4;
	height: 720px;
}
.sneaker-shadow {
	outline: 1px solid black;
	position: absolute;
	width: 750.99px;
	border-radius: 50%;
	height: 103.24px;
	left: 29px;
	top: 885px;
	background: rgba(0, 0, 0, 0.8);
	filter: blur(44px);
	transform: rotate(14.62deg);
}
